@font-face {
  font-family: 'MacPaw Fixel';
  src: url('../../fonts/FixelText/FixelText-SemiBold.ttf') format('truetype');
}

header {
  font-family: MacPaw Fixel;
  color: black;
  border: 1px solid red;
}

.custom-header {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  color: black;
}

.nav-link {
  font-family: MacPaw Fixel;
  color: black;
}

.nav-link:hover {
  color: #47accc;
}

.nav-link:focus {
  color: #47accc;
}

.navbar-toggler:focus {
  outline: none;
}

.custom-li {
  margin-right: 25px;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: #000;
  border: 2px solid #47accc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.custom-button:hover {
  background-color: #47accc;
  color: #fff;
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    text-align: center;
  }

  .custom-li {
    margin-right: 0px;
  }

  .btn-write-us {
    margin-top: 15px;
  }
}