@font-face {
  font-family: 'MacPaw Fixel';
  src: url('../src//fonts//FixelText/FixelText-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: MacPaw Fixel;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}